@media only screen and (min-width: 1024px) and (max-width: 1320px) {

}

@media only screen and (min-width: 1320px) and (max-width: 1439px) {

  .lightpaper {
    &__newspaper-img {
      position: relative;
      height: 600px;
      width: 550px;
      bottom: 70px;
      left: 50px;
    }

    &__btn {
      left: 100px;
      right: -20px;
      top: -325px;
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 1510px) and (max-width: 1610px) {
  .section {
    padding-left: 233px;

    &__lightpaper {
      padding-top: 0;
      background-position: 130% 50%;
      margin-right: 200px;
    }
  }

  .lightpaper {
    &__newspaper-img {
      position: relative;
      bottom: 290px;
      left: 420px;
    }

    &__btn {
      left: 100px;
      right: -70px;
      left: -600px;
      top: 35px;
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 1620px) and (max-width: 1909px) {

}

@media only screen and (min-width: 1910px) and (max-width: 2400px) {
  .section {
    padding-left: 433px;

    &__lightpaper {
      padding-top: 0;
      background-position: 93% 50%;
      margin-right: 290px;
    }
  }

  .lightpaper {
    &__newspaper-img {
      position: relative;
      bottom: 70px;
      left: 50px;
    }

    &__btn {
      left: 100px;
      right: -20px;
      top: -335px;
      bottom: 0;
    }
  }
}
