@media only screen and (min-width: 1100px) and (max-width: 1439px) {

  .lightpaper {
    &__newspaper-img {
      position: relative;
      height: 600px;
      width: 500px;
      bottom: 70px;
      left: 50px

    }

    &__btn {
      border: 0;
      outline: none;
      position: relative;
      left: 100px;
      right: -20px;
      top: -325px;
      bottom: 0;
      height: 80px;
      width: 390px;
      background-color: #fccf18;
      z-index: 1;
      transition: 1s ease-out all;
      overflow: hidden;

      &:hover {
        border-radius: 25px;
        box-shadow: 10px 5px 5px #ddbe40c9;
      }
    }
  }
}
