.search {

  &__image {
    padding-top: 20px;
  }

  &__title {
    margin: 0;
    margin-top: 15px;
    font-family: "ProximaNova-Black";
    font-size: 48px;
    color: #233148;
    width: 550px;
    letter-spacing: 1px;
  }
}
