@import "utils";
@import "fonts";
@import "typography";
@import "section";
@import "service";
@import "lightpaper";
@import "search";
@import "media";
@import "mobile";

body {
  background: $c-gray;
  margin: 0;
  padding: 0;
}
